html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

a {
    /*color:inherit*/
}

a {
    text-decoration: none;
}


ul,
li {
    list-style: none;
}

:root {
    --main-color: #234a63;
    --secondary-color: #95a59d;
    --third-color: #e5c45b;
}

.main-color {
    color: var(--main-color);
}

.bg-main-color {
    background-color: var(--main-color);
}

.bg-secondary-color {
    background-color: var(--secondary-color);
}

.bg-third-color {
    background-color: var(--third-color)
}

.secondary-color {
    color: var(--secondary-color);
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #e6e6e6;
}



/*月曆*/
.calendar {
    /*background-color: var(--secondary-color);*/
    border: 2px solid var(--main-color);
}

.year {
    display: flex;
    justify-content: center;
}

    .year span {
        margin: 10px 10px;
    }

#pre_year,
#next_year {
    cursor: pointer;
    font-weight: 600
}

.month {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

    .month select {
        width: 3rem;
        text-align: center;
        margin-right: 0.5rem
    }

.day ul {
    display: flex;
    background-color: #e6e6e6;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color)
}

    .day ul li {
        flex: auto;
        text-align: center;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
    }

.date {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 600;
}

    .date div {
        width: 14.285714%;
        height: 4rem;
        text-align: center;
        color: var(--third-color);
        transition: background-color 0.3s ease-in
    }

preMonthText, .thisMonthText, .nextMonthText {
    color: #b95159;
    text-decoration: underline;
    font-size: larger;
    text-shadow: 1px 1px gray
}

.date div:hover {
    background-color: var(--main-color);
}

.calendar-unavailable {
    pointer-events: none;
    opacity: 0.3;
}

.preMonth,
.nextMonth {
    color: white;
    background-color: var(--secondary-color);
}

    .preMonth p, .thisMonth p, .nextMonth p {
        pointer-events: none
    }

.dateMouse {
    background-color: #007797;
}

.dateIsSelected {
    background-color: var(--main-color);
}

.calendar-text {
    border: 1px #e6e6e6 solid;
    box-shadow: 5px 7px 5px #e6e6e6;
}

    .calendar-text input {
        width: 100%;
        border: 1px solid black;
        text-align: center;
        font-weight: 700;
        padding: 0.3rem 0 0.3rem 0;
        box-shadow: 2px 2px 2px gray;
        border-radius: 5px;
        letter-spacing: 0.2rem
    }

        .calendar-text input:focus {
            outline: none;
        }

    .calendar-text a {
        background-color: var(--secondary-color);
        color: white;
        letter-spacing: 0.3rem;
        padding: 0.6rem 0.4rem 0.6rem 0.6rem;
        border-radius: 5px;
        transition: background-color 0.5s ease-in-out;
        font-weight: 600;
        box-shadow: 2px 2px 2px gray;
    }

        .calendar-text a:hover {
            background-color: var(--main-color);
            color: white;
        }

    .calendar-text i {
        color: red;
    }

.hide-exclamation {
    opacity: 0;
    transition: opacity 0.7s ease-in-out
}

.show-exclamation {
    opacity: 1;
    color: #234a63;
    transition: opacity 0.7s ease-in-out
}
/*==========月曆結束  */

.star-container {
    color: orange;
}

.introduction {
    text-indent: 2rem;
    line-height: 2rem;
    letter-spacing: 0.2rem;
}

.tags-container div {
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    padding: 0.1rem 0.9rem 0.1rem 1.3rem;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    letter-spacing: 0.5rem;
    transition: background-color 0.5s;
    background-color: var(--main-color);
    color: white
}

.border-bt {
    border-bottom: 1px solid var(--main-color)
}

#tent_wrapper, #order_result {
    width: 100%;
}

@media screen and (min-width:768px) {
    #tent_wrapper, #order_result {
        width: 70%
    }
}

.tent-container {
    width: 100%;
    border: var(--main-color) 1px solid;
    border-left: 15px solid var(--main-color);
    margin-bottom: 0.5rem;
    border-radius: 0.3rem
}

.tent-container-order {
    border: var(--main-color) 1px solid;
    border-left: 15px solid var(--third-color);
    border-radius: 0.3rem;
    padding: 1rem 1rem 1rem 1rem;
}

.tent-container li {
    list-style: disc;
    margin-left: 20px;
}

.tent-container a, button, #orderBtn {
    display: inline-block;
    background-color: var(--secondary-color);
    color: white;
    letter-spacing: 0.3rem;
    padding: 0.3rem 0.4rem 0.3rem 0.6rem;
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out;
    text-align: center;
    border: 0
}

#orderBtn {
    background-color: #b95159;
}

.tent-container a:hover, .tent-container button:hover {
    background-color: var(--main-color);
}

#orderBtn:hover {
    background-color: #007797;
}

.notion-section {
    font-weight: 600;
    letter-spacing: 0.1rem;
    width: 100%;
}

.review, .review-result {
    width: 100%;
    border-radius: 0.3rem;
    height: 100%;
    position: relative;
    border: 1px solid var(--main-color);
}

.review {
    border-left: var(--main-color) 15px solid;
}

.review-result {
    border-left: var(--third-color) 15px solid;
}

.review button {
    background-color: var(--secondary-color);
    color: white;
    letter-spacing: 0.3rem;
    padding: 0.2rem 0.4rem 0.2rem 0.6rem;
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out;
    border: none
}

    .review button:hover {
        background-color: var(--main-color);
        color: white;
    }

@media screen and (min-width:768px) {
    .review, .review-result {
        width: 70%
    }

    .notion-section {
        width: 70%;
    }
}

.review-content p {
    text-indent: 2rem;
    line-height: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    letter-spacing: 0.2rem;
}

.review-wrapper {
    height: 18rem;
}

.review-container {
}

    .review-container .btn {
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);
    }

/* 輪播圖css開始 */
.carousel {
    height: 550px;
}

.carousel-main {
    height: 100%;
}

.carousel-list {
    position: relative;
}

    .carousel-list img {
        border-radius: 5px
    }

.carousel-sider {
    height: 550px;
    overflow: hidden;
}

    .carousel-sider img {
        height: 100px;
        width: 100%;
    }

.img-up {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 1;
    color: var(--main-color);
    opacity: 0.3;
    transition: opacity 0.7s ease-in-out
}

.img-down {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    z-index: 1;
    color: var(--main-color);
    opacity: 0.3;
    transition: opacity 0.7s ease-in-out
}

.img-left,
.img-right {
    display: none;
}

@media screen and (max-width: 767px) {
    .carousel {
        height: 25rem;
    }

    .carousel-main {
        height: 80%;
    }

    .carousel-list {
        height: 20%;
        position: relative;
    }

    .carousel-sider {
        height: 100%;
    }

        .carousel-sider img {
            height: 100%;
            width: 100px;
        }

    .img-container {
        height: 100%;
    }

    .img-up,
    .img-down {
        display: none;
    }

    .img-left {
        position: absolute;
        height: 100%;
        z-index: 1;
        color: var(--main-color);
        opacity: 0.3;
        display: flex;
        align-items: center;
        transition: opacity 0.7s ease-in-out
    }

    .img-right {
        position: absolute;
        height: 100%;
        right: 0;
        z-index: 1;
        color: var(--main-color);
        opacity: 0.3;
        display: flex;
        align-items: center;
        transition: opacity 0.7s ease-in-out
    }
}

@keyframes show_selected_img {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.show-img-selected {
    animation-name: show_selected_img;
    animation-duration: 100ms;
}

#img_selected {
    border: 2px solid var(--main-color);
    border-radius: 5px;
}

.img-transition {
    transition: transform 200ms ease-in;
}

.original {
    opacity: 0.3;
}

.carousel-sider img:hover {
    cursor: pointer;
}

.img-up:hover,
.img-down:hover,
.img-left:hover,
.img-right:hover {
    text-shadow: gray 1px 1px 2px;
    cursor: pointer;
    opacity: 1;
}
/* =====輪播圖css結束 */

/* 入營退營時間css開始 */

.notion {
    width: 150px;
    color: white;
    letter-spacing: 0.3rem;
}

    .notion i {
        width: 20%;
        margin-right: 5px
    }

.CheckInBar {
    width: 264px;
    height: 24px;
    background-color: #e6e6e6;
    border-radius: 10px;
}

.border-dashed {
    border-left: 15px solid var(--main-color)
}

.CheckInTime,
.CheckOutTime {
    position: relative;
    height: 100%;
    background-color: var(--main-color);
}

.CheckInTime {
    float: right;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.CheckInTimeText,
.CheckOutTimeText {
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: #e6e6e6;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    text-align: center;
}

    .CheckInTimeText::before,
    .CheckOutTimeText::before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border: 10px solid #e6e6e6;
        border-color: transparent transparent #e6e6e6;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
    }

.CheckOutTime {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}



.mb-50px {
    margin-bottom: 50px;
}

.letter-spacing-1 {
    letter-spacing: 0.3rem
}

.favorite-icon {
    text-shadow: 0 0 3px #333333;
    color: #e6e6e6;
    -webkit-text-stroke: 2px white;
    cursor: pointer
}

    .favorite-icon:hover {
        color: #b95159;
    }

.favorMsg {
    bottom: -100px;
    right: -35px;
    padding: 20px;
    background-color: white;
    border: 1px solid white;
    color: white;
    background-color: var(--main-color);
    border-radius: 5px;
    transition: opacity 0.7s ease-in;
}

.c-red {
    color: #b95159;
}

.cursor-pointer {
    cursor: pointer
}

.favorMsg:focus {
    outline: none;
}

.favorMsg::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 30%;
    transform: translateX(-50%);
    border: 10px solid black;
    border-color: transparent transparent var(--main-color) transparent;
}
/*=============入營退營時間css結束*/
* {
    /*outline: 1px pink solid;*/
}
